parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$color\.$#'
			identifier: property.notFound
			count: 1
			path: app/Events/StudySession/SessionStarted.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Events/StudySession/SessionStarted.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Events/StudySession/SessionStarted.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Events/StudySession/SessionStarted.php

		-
			message: '#^Offset ''headline'' on array\{id\: string, localizedFirstName\: string, localizedLastName\: string\} on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Http/Controllers/V1/LinkedInController.php

		-
			message: '#^Offset ''id'' on array\{id\: string, localizedFirstName\: string, localizedLastName\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Http/Controllers/V1/LinkedInController.php

		-
			message: '#^Offset ''localizedFirstName'' on array\{id\: string, localizedFirstName\: string, localizedLastName\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Http/Controllers/V1/LinkedInController.php

		-
			message: '#^Offset ''localizedLastName'' on array\{id\: string, localizedFirstName\: string, localizedLastName\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Http/Controllers/V1/LinkedInController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$color\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/StudySessionResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/StudySessionResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/StudySessionResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/StudySessionResource.php

		-
			message: '#^Property App\\Events\\StudySession\\StudySessionUpdated\:\:\$changedFields \(array\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: app/Listeners/StudySession/DispatchMetricsRecalculation.php

		-
			message: '#^Strict comparison using \!\=\= between int and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: app/Modules/CodeExecution/Services/DockerSandboxService.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: app/Modules/CodeExecution/Services/DockerSandboxService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Modules/StudySessions/Services/StudySessionService.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 7
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Method Predis\\ClientInterface\:\:evalsha\(\) invoked with unpacked array with possibly string key, but it''s not allowed because of @no\-named\-arguments\.$#'
			identifier: argument.named
			count: 1
			path: app/Services/RedisLuaService.php
