parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$color\.$#'
			identifier: property.notFound
			count: 1
			path: app/Events/StudySession/SessionStarted.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Events/StudySession/SessionStarted.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Events/StudySession/SessionStarted.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Events/StudySession/SessionStarted.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Http/Controllers/V1/OAuthController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/V1/StudySessionController.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Middleware/SlidingWindowRateLimit.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$color\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/StudySessionResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/StudySessionResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/StudySessionResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/StudySessionResource.php

		-
			message: '#^Property App\\Events\\StudySession\\StudySessionUpdated\:\:\$changedFields \(array\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: app/Listeners/StudySession/DispatchMetricsRecalculation.php

		-
			message: '#^Using nullsafe property access "\?\-\>longest_session_min" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Modules/Analytics/Aggregators/MetricsAggregator.php

		-
			message: '#^Using nullsafe property access "\?\-\>shortest_session_min" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Modules/Analytics/Aggregators/MetricsAggregator.php

		-
			message: '#^Using nullsafe property access "\?\-\>total_minutes" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Modules/Analytics/Aggregators/MetricsAggregator.php

		-
			message: '#^Using nullsafe property access "\?\-\>total_sessions" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Modules/Analytics/Aggregators/MetricsAggregator.php

		-
			message: '#^Call to function method_exists\(\) with App\\Jobs\\RecalculateMetricsJob and ''uuid'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: app/Modules/Analytics/Services/AnalyticsService.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 4
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Method Predis\\ClientInterface\:\:evalsha\(\) invoked with unpacked array with possibly string key, but it''s not allowed because of @no\-named\-arguments\.$#'
			identifier: argument.named
			count: 1
			path: app/Services/RedisLuaService.php

		-
			message: '#^Trait App\\Traits\\HasAuditLog is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/HasAuditLog.php

		-
			message: '#^Trait App\\Traits\\HasCacheInvalidation is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/HasCacheInvalidation.php
